body{
	font-family: arial;
	text-align: justify;
}

*{
	padding: 0;
	margin: 0;;
	text-decoration: none;
	list-style: none;
}

.navbar-brand{
	font-size: 25px;
}


.body{
	margin-top: 8%;
}

.body, .card, .applications{
	margin-left: 2%;
	margin-right: 2%;
}

.card, .card-header, .list-group-item{
	position: inherit;
}

.diagramme-gantt{
	overflow: auto;
	width: 100%;
}